
.main-style{
    /* 필수 */
    max-width: 1920px;
    min-width: 1080px;
    padding-left: 5% !important;
    padding-right: 5% !important;
    margin: auto;
    padding-top: 30px;

}


/* 제품정보 영역=========================== */


.product-detailArea {
    display: flex;
    padding-bottom: 30px;
  }

  /* 돋보기 */
  
.product-imageArea {
    /* .wrap */
    
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 570px;
    height: 600px;
    margin: 0 auto;

 }

 .product-infoArea{
    flex:1;
    position: relative;
    padding-left: 20px;
    padding-top: 20px;
 }

.product-imageArea img{

    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* 이미지가 영역 내에 완전히 표시되도록 설정 */

    width: 570px;

}


.magnifier {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 0%;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.85), 0 0 3px 3px rgba(0, 0, 0, 0.25);
    display: none;
  }

  .product-infoArea{
    flex:1;
    position: relative;
    padding-left: 20px;
    padding-top: 20px;
 }

.product-headingArea h2{
    padding-top: 20px; 
    padding-bottom: 30px;
    display: inline;
}

.product-headingArea span{
    display: inline;
    position: absolute;
    /* position: relative; */
    right: 8px;
    color: #888;
    font-size: 11px;
}

.product-info-detail{
    padding-top: 50px;
}

.product-info-detail p{
    padding-top: 20px;
    padding-bottom: 20px;
}

/* .product-info-detail:first-child{
    font-weight: 400;
} */

.writerName{
    font-weight: 600;
    padding-left: 20px;
}

.product-content{
    font-size: 12px;
    color: rgb(15, 11, 11);
    padding-left: 20px;
}


#artist-page-btn{

    margin-top: 10px;
    margin-left: 20px;
    border: 1px solid lightgrey;
    background-color: white;
    font-size: 14px;
    color: rgb(34, 34, 34);
    text-align: center;
  
    /* padding: 10px 17px 17px 7px; */

}

#artist-page-btn:hover{
    background-color: rgb(34, 34, 34);
    color: white;
}

/* 구매 버튼 영역 */

.product-detail-btn{
    display: flex;
    /* justify-content: space-between; */
    padding-top: 20px;
}

.wrap {
    flex: 1;
    color: rgb(34, 34, 34);
    border: 1px solid lightgrey;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.wrap a {
    color: rgb(34, 34, 34);
    text-decoration: none;
    padding: 13px 15px 15px 10px;
    font-size: 13px;
}

.wrap:hover {
    border: 2px solid rgb(34, 34, 34);
}

.wrap a:hover {
    color: rgb(34, 34, 34);
    font-weight: 600;
}

.wrap .btn.buy:hover {
    color: rgb(34, 34, 34);
    font-weight: 600;
}

/* 상품디테일과 상세설명 구분 */
#divider{
    color: grey;
    margin-top: 20px;
    margin-bottom: 30px;
}

/* 상품 상세페이지-리뷰-문의 버튼 */

.df-prd-tab-items {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.prd-tab {
    flex: 1;
    text-align: center;
}

.prd-tab a{
    color: rgb(86, 86, 86);
    text-decoration: none;
    padding: 7px;
    font-size: 13px;
    
}

.prd-tab a:hover{
    color: rgb(34, 34, 34);
    background-color:  whitesmoke;
    font-weight: 600;
    
}

.product-tabArea {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* 상품상세설명 */
.product-contents{
    margin-bottom: 20px;
    height: 900px;
    max-width: 100%;
}


hr{
    border: none;
    border-bottom: 1px solid lightgrey;
    padding-top: 10px;
    padding-bottom: 10px;
}

table{
    border: none;
    padding-top: 20px;
    font-size: 14px;
}

.td1{
    width: 100px;
}

.td2{
    font-weight: 600;
}

.min-order{
    color: grey;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* //////////////confirmPop /////////*/

.confirmPop{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000;
    width: 400px;
    margin: -72px 0 0 -150px;
    border: 1px solid #888;
    background-color: #fff;
   
  }
  
  .wishPop_header{
  font-size: 15px;
  background-color: rgb(34,34,34);
  color: #fff; 
  padding: 3px;
  display: flex;
  }
  
  h3{
    display: 9;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .wishPop_header a{
    display: 1;
    position: absolute;
    right: 5px;
  }
  
  .wishPop_content{
    text-align: center;
    padding: 10px;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .wishPop .content p{
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .wishPop_button{
    padding: 0px;
    border-top: 1px solid #d7d5d5;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #fbfafa;
    border-color: #e7e7e7;
  }
  
  .wishbtn{
    display: inline-block;
    box-sizing: border-box;
    padding: 8px 12px;
    border: 1px solid transparent;
    border-radius: 2px;
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    text-decoration: none;
    vertical-align: middle;
    word-spacing: -0.5px;
    letter-spacing: 0;
    text-align: center;
    white-space: nowrap;
    color: #fff;
    background-color:rgb(34,34,34);
    margin-right: 10px;
  }
  
  .ongoing{
    color: rgb(34,34,34);
    background-color: #e7e7e7;
    font-weight: bold;
  }
  
  /* //////////////////////////////////////////// */

  /* option_wrapper////////////////////////////////////////// */

  #option1{
    height: 30px;
    border: 1px solid lightgray;
  }
.option-tr{
    border-top: 1px solid lightgray;
    /* border-bottom: 1px solid lightgray; */
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 7px;
    display: flex;
}

.option-name{
    flex: 5;
    margin-top: 7px;
}

.option-name span{
    width: 50%;
    background-color: #555555;
    color: #fff;
    font-weight: 400;
    padding-top: 5px 7px;
    font-size: 13px;
    padding: 5px 7px; /* 여백을 위아래 5px, 좌우 7px로 지정 */
 
}

.option-qty{
    flex: 2;
    text-align: center;
    margin-top: 7px;
}


.goods-price{
    flex: 3;
    color: rgb(34, 34, 34);
    text-align: right;
    margin-top: 7px;
    font-size: 13px;
    font-weight: 600;
}

.goods-price span{
    font-weight: 600;
}


  /* option_wrapper End////////////////////////////////////////// */
  .option-qty{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  }
  .option-qty span{
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
  }
  .option-qty span.num{
    font-size: 12px;
    border-right: 2px solid rgba(0,0,0,0.2);
    border-left: 2px solid rgba(0,0,0,0.2);
    pointer-events: none;
  }

  .fa-solid.fa-circle-minus{
    margin-left: 5px;
  }

  
  .fa-solid.fa-circle-minus:hover{
    cursor: pointer;
  }

  /* //////////////TotalPrice////////////////////////// */
  .total_price_wrapper{
    border-top: 1px solid lightgray;
    margin-top: 8px;
    height: 50px;
  }

  .total_price {
    text-align: right;
    font-size: 16px;
    font-weight: 600;
    color: rgb(34, 34, 34);
    margin-top: 20px;
  }

.tts{
    font-size: 22px;
    font-weight: 600;
}
  