<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">
  
   <resultMap type="boardType" id="boardType_rm">
      <id property="boardCode" column="BOARD_CD" />
      <result property ="boardName" column="BOARD_NAME"/>
   </resultMap>
   <resultMap type="board" id = "board_rm">
      <id property="boardId" column="BOARD_ID" />
      <result property="boardCode" column="BOARD_CD" />
      <result property="boardTitle" column="BOARD_TITLE" />
      <result property="boardContent" column="BOARD_CONTENT" />
      <result property="board_files" column="BOARD_FILE1" />
      <result property="boardDt" column="BOARD_DT" />
      <result property="boardCNT" column="READ_CNT" />
      <result property="boardAuth" column="BOARD_AUTH" />
      <result property="memberId" column="MEMBER_ID" />      
   </resultMap>
   
   <resultMap type = "boarddetail" id = "boardDetail_rm">
      <id property = "boardId" column = "BOARD_ID"/>
      <result property = "boardTitle" column = "BOARD_TITLE"/>
      <result property = "boardContent" column = "BOARD_CONTENT"/>
      <result property = "createDate" column = "BOARD_DT"/>
      <result property = "updateDate" column = "BOARD_UPDT"/>
      <result property = "readCount" column = "READ_CNT"/>
      <result property = "memberNickname" column = "MEMBER_NICK"/>
      <result property = "profileImage" column = "BOARD_FILE1"/>
      <result property = "memberId" column = "MEMBER_ID"/>
      <result property = "boardCode" column = "BOARD_CD"/>
      <!-- selectImageList란 select가 들어간 imagelist를 select하는 것. -->
      <collection property = "imageList" column = "BOARD_ID" javaType = "java.util.ArrayList" ofType="boardImage" select="selectImageList"/>
   </resultMap>
   
   
   <!-- 이미지 정보 조회용 resultMap -->
   <resultMap type="boardImage" id="boardImage_rm">
      <id property="imageNo" column="IMG_NO" />
      <result property="imageReName" column="IMG_RENAME" />
      <result property="imageOriginal" column="IMG_ORIGINAL" />
      <result property="imageLevel" column="IMG_LEVEL" />
      <result property="boardNo" column="BOARD_NO" />
   </resultMap>
   
   
   <!-- 특정 게시글 이미지 목록 조회 -->
   <select id="selectImageList" resultMap="boardImage_rm">
      SELECT * FROM BOARD_IMG
      WHERE BOARD_NO = #{boardId}
      ORDER BY IMG_LEVEL
   </select>
   
   
   <select id = "selectBoardType" resultMap = "boardType_rm">
      SELECT BOARD_CD,BOARD_NAME
      FROM BOARD_TYPE
   </select>
   <select id = "getListCount" resultType="_int">
      SELECT count(*) 
      FROM board
      WHERE BOARD_CD = #{boardCode}
      AND BOARD_ST = 'N'
   </select>
   <select id="selectBoardList" resultMap="board_rm">
      SELECT BOARD_ID,
      BOARD_CD,
      BOARD_TITLE,
      READ_CNT,
      BOARD_CONTENT,
      CASE WHEN SYSDATE - BOARD_DT &lt; 1
          THEN TO_CHAR(BOARD_DT, 'HH:MI')
          ELSE TO_CHAR(BOARD_DT, 'YYYY-MM-DD')
      END BOARD_DT,
      (SELECT IMG_RENAME FROM BOARD_IMG
       WHERE BOARD.BOARD_ID = BOARD_IMG.BOARD_ID
       AND IMG_LEVEL = 0) BOARD_FILE1,   
      BOARD_AUTH,
      MEMBER_ID
   FROM BOARD
   JOIN BOARD_TYPE USING(BOARD_CD)
   JOIN MEMBER USING(MEMBER_ID)
   WHERE BOARD_ST = 'N'
   AND BOARD_CD = #{boardCode}
   ORDER BY BOARD_ID DESC
      
   </select>
   
   <select id = "selectBoardDetail" resultMap = "boardDetail_rm">
   SELECT BOARD_ID, BOARD_TITLE, BOARD_CONTENT,
      TO_CHAR(BOARD_DT, 'YYYY"년" MM"월" DD"일" HH24:MI:SS') BOARD_DT,
      TO_CHAR(BOARD_UPDT, 'YYYY"년" MM"월" DD"일" HH24:MI:SS') BOARD_UPDT,
      READ_CNT, MEMBER_NICK, MEMBER_ID, BOARD_FILE1,
      BOARD_NM
      FROM BOARD
      JOIN MEMBER USING(MEMBER_ID)
      JOIN BOARD_TYPE USING(BOARD_CD)
      WHERE BOARD_ID = ${boardId}
      AND BOARD_ST = 'N'
   </select>
   
    
   <select id = "selectWriterBoardList" resultMap = "board_rm">
		SELECT BOARD_ID, BOARD_CD, BOARD_TITLE, BOARD_CONTENT, BOARD_FILE1, TO_CHAR(BOARD_DT, 'YYYY"년" MM"월" DD"일" HH24:MI:SS') BOARD_DT,
		READ_CNT, BOARD_AUTH, MEMBER_ID
		FROM BOARD
		WHERE MEMBER_ID = #{memberId}
   </select>
</mapper>

