<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="chattingMapper">


	<resultMap type="chatRoom" id="chatroom_rm">
		<id property="chatRoomId" column="CHAT_ROOM_ID" />
		<result property="chatStatus" column="CHAT_STATUS" />
		<result property="memberId" column="MEMBER_ID" />
		<result property="memberNick" column="MEMBER_NICK" />

	</resultMap>

	<resultMap type="chatMessage" id="chatMessage_rm">
		<id property="chatMessageId" column="CHAT_MESSAGE_ID" />

		<result property="message" column="MESSAGE" />
		<result property="chatCreateDT" column="CHAT_CREATE_DT" />
		<result property="chatRoomId" column="CHAT_ROOM_ID" />

		<result property="memberId" column="MEMBER_ID" />
		<result property="memberNick" column="MEMBER_NICK" />
	</resultMap>




	<!--========================================================================================= -->

	<!-- 채팅방 멤버 ID로 채팅방 ID 조회 -->
	<select id="selectChatRoomIdByMemberId" resultType="int">
		SELECT
		chat_Room_Id
		FROM chat_Room
		WHERE member_Id = #{memberId}
	</select>

	<!-- 새로운 채팅방 삽입 후 채팅방 ID 반환 -->
	<insert id="insertChatRoom" parameterType="ChatRoom">
		INSERT INTO CHAT_ROOM
		(member_Id, chat_Room_Id, member_Nick)
		VALUES (#{memberId},SEQ_CHAT_NO.NEXTVAL,#{memberNick})
	</insert>

	<insert id="insertChatMessage">
		INSERT INTO CHAT_MESSAGE (CHAT_MESSAGE_ID, MESSAGE,
		CHAT_CREATE_DT,
		CHAT_ROOM_ID, MEMBER_ID, MEMBER_NICK, MEMBER_EMAIL)
		VALUES (SEQ_CHAT_MESSAGE_NO.NEXTVAL, #{inputVal}, SYSDATE,
		#{chatRoomId},
		#{memberId}, #{memberNick}, #{memberEmail})
	</insert>

	<select id="selectChatRoomList" resultMap="chatroom_rm">
		SELECT CHAT_ROOM_ID,
		MEMBER_NICK, MEMBER_ID
		FROM CHAT_ROOM

		ORDER BY CHAT_ROOM_ID DESC
	</select>

	<!-- 채팅방 만들기 -->
	<insert id="openChatRoom" useGeneratedKeys="true">

		<selectKey keyProperty="chatRoomId" resultType="_int"
			order="BEFORE">
			SELECT SEQ_CHAT_NO.NEXTVAL FROM DUAL
		</selectKey>


		INSERT INTO CHAT_ROOM(CHAT_ROOM_ID, MEMBER_NICK, CHAT_STATUS,
		MEMBER_ID) VALUES
		(#{chatRoomId}, #{memberNick}, DEFAULT, #{memberId})
	</insert>


	<delete id="deleteChat" parameterType="java.util.Map">
		DELETE FROM CHAT_ROOM WHERE CHAT_ROOM_ID IN
		<foreach collection="chatRoomChk" item="chatRoomId" open="("
			separator="," close=")">
			${chatRoomId}
		</foreach>
	</delete>

 
	 
	  <delete id="deleteChatMessages" parameterType="java.util.Map">
	    DELETE FROM CHAT_MESSAGE WHERE CHAT_ROOM_ID IN
	    <foreach collection="chatRoomChk" item="chatRoomId" open="(" separator="," close=")">
	      #{chatRoomId}
	    </foreach>
	  </delete>
	  
	 	<delete id="deleteChatRoomAndMessages" parameterType="java.util.Map">
	  DELETE FROM CHAT_ROOM WHERE CHAT_ROOM_ID IN
	  <foreach collection="chatRoomChk" item="chatRoomId" open="(" separator="," close=")">
	    #{chatRoomId}
	  </foreach>
	</delete>



	<select id="getChatMessagesByChatRoomId"
		resultMap="chatMessage_rm">
		SELECT * FROM CHAT_MESSAGE WHERE CHAT_ROOM_ID = #{chatRoomId}
		ORDER BY CHAT_CREATE_DT ASC
	</select>

</mapper>