<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">
 
    
	<resultMap type="member" id="member_rm">
	
		<id property="memberId" column="MEMBER_ID"/>
		
		<result property="memberEmail" 		column="MEMBER_EMAIL"/>
		<result property="memberPw" 		column="MEMBER_PW"/>
		<result property="memberName" 		column="MEMBER_NAME"/> 
		<result property="memberNick"	 	column="MEMBER_NICK"/>
		<result property="memberTel" 		column="MEMBER_TEL"/>
		<result property="memberAddr" 		column="MEMBER_ADDR"/>
		<result property="profileImage" 	column="PROFILE_IMG"/>
		<result property="memberEd" 		column="MEMBER_ED"/>
		<result property="secessionFl" 		column="SECESSION_FL"/>
		<result property="socialFl"         column="SOCIAL_FL"/>
		<result property="auth" 			column="AUTH"/>
	 	<result property ="memberIntro"		column="MEMBER_INTRO"/>
	 	<result property ="memberSns"      column="MEMBER_SNS" />
	 	<result property="emailOptIn"       column="EMAIL_OPTIN" />
	</resultMap>
  
   
   
   	<select id="login"  parameterType="member"  resultMap="member_rm"  >
 		SELECT MEMBER_ID, MEMBER_EMAIL, MEMBER_NICK , MEMBER_NAME ,MEMBER_TEL,
       		MEMBER_ADDR, PROFILE_IMG, 
    		TO_CHAR( MEMBER_ED, 'YYYY-MM-DD HH24:MI:SS') AS MEMBER_ED, MEMBER_PW,AUTH,MEMBER_SNS,EMAIL_OPTIN,MEMBER_INTRO,SOCIAL_FL,SECESSION_FL
		FROM MEMBER
		WHERE MEMBER_EMAIL = #{memberEmail} 
		AND SECESSION_FL = 'N' 
  	</select>
   
   
   
   
  	<select id="adminLogin"  parameterType="member"  resultMap="member_rm"  >
 		SELECT MEMBER_ID, MEMBER_EMAIL, MEMBER_NICK ,MEMBER_TEL,
       		MEMBER_ADDR, PROFILE_IMG, 
    		TO_CHAR( MEMBER_ED, 'YYYY-MM-DD HH24:MI:SS') AS MEMBER_ED, MEMBER_PW, AUTH
		FROM MEMBER
		WHERE MEMBER_EMAIL = #{memberEmail} 
		AND AUTH = '1'
		AND SECESSION_FL = 'N' 
  	</select>

  
 

  		<select id="selectMemberList" resultMap="member_rm">
		SELECT MEMBER_ID <!-- , MEMBER_IMAGE   --> , MEMBER_EMAIL,
		MEMBER_NICK, MEMBER_TEL, MEMBER_NAME, MEMBER_ADDR, AUTH,
		SECESSION_FL, MEMBER_ED
		 <!-- 
		CASE WHEN SYSDATE - MEMBER_ED &lt; 1
		THEN TO_CHAR(MEMBER_ED, 'HH:MI')
		ELSE TO_CHAR(MEMBER_ED, 'YYYY-MM-DD')
		END MEMBER_ED
		 
		(SELECT IMG_RENAME FROM BOARD_IMG
		WHERE BOARD.BOARD_NO = BOARD_IMG.BOARD_NO
		AND IMG_LEVEL = 0) THUMBNAIL
		 -->
		 
		FROM MEMBER
	 	
	 	<!-- 
	 	JOIN BOARD_TYPE USING(BOARD_CD)
		JOIN MEMBER_S USING(MEMBER_NO)
		WHERE BOARD_ST = 'N'
		AND BOARD_CD = ${boardCode}
	 	 -->
		ORDER BY MEMBER_ID DESC
	</select>
 
   
 
  	<select id="searchMemberList" resultMap="member_rm">
			SELECT MEMBER_ID,
			MEMBER_NAME, MEMBER_ARTIST,
			
			CASE WHEN SYSDATE - MEMBER_RDATE &lt; 1
			THEN TO_CHAR(MEMBER_RDATE, 'HH:MI')
			ELSE TO_CHAR(MEMBER_RDATE, 'YYYY-MM-DD')
			END MEMBER_RDATE
		
		<!-- 
			(SELECT IMG_RENAME FROM BOARD_IMG
			WHERE BOARD.BOARD_NO = BOARD_IMG.BOARD_NO
			AND IMG_LEVEL = 0) THUMBNAIL
 		-->
 		
		FROM MEMBER
		
		<!-- 
		JOIN BOARD_TYPE USING(BOARD_CD)
		JOIN MEMBER_S USING(MEMBER_NO)
		WHERE BOARD_ST = 'N'
		AND BOARD_CD = ${boardCode}
		 -->
		 
		<!-- 검색어가 있을 경우 -->
		<if test='query != null and query != ""'>
			AND
			<choose>
				<when test='key == "t"'> 
					BOARD_TITLE LIKE '%${query}%'
				</when>
				
				<when test='key == "c"'>
					BOARD_CONTENT LIKE '%' || #{query} || '%'
				</when>
				
				<when test='key == "tc"'>
					( BOARD_TITLE LIKE '%${query}%'
					OR
					BOARD_CONTENT LIKE '%${query}%' )
				</when>
				
				<when test='key == "w"'>
					MEMBER_NICK LIKE '%${query}%'
				</when>
			</choose>			
		</if>
		
		
		ORDER BY BOARD_NO DESC
		
	</select>	
  
   
  
  	<select id="getListCount" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
		 
		
	</select>
 
  	
  
  
  
   	<select id="searchListCount" resultType="_int">
		SELECT COUNT(*) 
		FROM MEMBER 
		
		 
		
		<!-- 검색어가 있을 경우 -->
		<if test='query != null and query != ""'>
			AND
			<choose>
				<when test='key == "t"'> 
					MEMBER_NAME LIKE '%${query}%'
				</when>
				
				<when test='key == "c"'>
					MEMBER_ARTIST LIKE '%' || #{query} || '%'
				</when>
				
				<when test='key == "tc"'>
					( MEMBER_NAME LIKE '%${query}%'
					OR
					MEMBER_ARTIST LIKE '%${query}%' )
				</when>
				
				<when test='key == "w"'>
					MEMBER_NAME LIKE '%${query}%'
				</when>
			</choose>			
		</if>
		
	</select>
   
   
 
  	<!-- 이메일 중복 검사 -->
  	<select id="emailDupCheck" parameterType="string" resultType="_int">
  		SELECT COUNT(*) FROM MEMBER
		WHERE MEMBER_EMAIL = #{memberEmail}
		AND SECESSION_FL = 'N'
 
  </select>

  	<select id="adminMemberAll"  resultMap="member_rm"   >
 		SELECT MEMBER_ID, MEMBER_EMAIL, MEMBER_NICK, MEMBER_TEL, MEMBER_NAME, MEMBER_ADDR,
 		AUTH, SECESSION_FL, MEMBER_ED
  		FROM MEMBER
  		ORDER BY MEMBER_ID

  	</select>
  
  	<select id = "selectWriterCount" resultType = "_int">
  		SELECT COUNT(*)
  		FROM MEMBER
  		WHERE AUTH = 1
  	</select>
  	
  	<select id = "selectWriterList" resultMap = "member_rm">
  		SELECT MEMBER_ID, MEMBER_NICK, MEMBER_INTRO, PROFILE_IMG
  		FROM MEMBER
  	</select>
  	
  	
  	
  	<select id = "getWriter" resultMap = "member_rm">
  		SELECT MEMBER_NICK, MEMBER_TEL, PROFILE_IMG, MEMBER_INTRO
  		FROM MEMBER
  		WHERE MEMBER_ID = #{memberId}
  	</select>
   
	 

</mapper>



