<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="myPageMapper">

	<resultMap type="Addr" id="addr_rm">
		<id property="addrId" column="ADDR_ID" />
		<result property="deliveryName" column="DELIVERY_NAME" />
		<result property="receiverName" column="RECEIVER_NAME" />
		<result property="addr" column="ADDR" />
		<result property="addrTel" column="ADDR_TEL" />
		<result property="addrMessage" column="ADDR_MESSAGE" />
	</resultMap>

	<resultMap type="product" id="product_rm">

		<id property="productId" column="PRODUCT_ID" />
		<result property="productName" column="PRODUCT_NAME" />
		<result property="productType" column="PRODUCT_TYPE" />
		<result property="productArtist" column="PRODUCT_ARTIST" />
		<result property="productPrice" column="PRODUCT_PRICE" />
		<result property="productOption1" column="PRODUCT_OPTION1" />
		<result property="productOption2" column="PRODUCT_OPTION2" />
		<result property="productRDate" column="PRODUCT_RDATE" />
		<result property="productImage" column="PRODUCT_IMAGE" />
		<result property="productContent" column="PRODUCT_CONTENT" />
		<result property="productCategory" column="PRODUCT_CATEGORY" />
		<result property="sales" column="SALES" />
		<result property="adminTypeCD" column="ADMIN_TYPE_CD" />
	</resultMap>

	<resultMap type="board" id="board_rm">
		<id property="boardId" column="BOARD_ID" />
		<result property="boardCode" column="BOARD_CD" />
		<result property="boardTitle" column="BOARD_TITLE" />
		<result property="boardContent" column="BOARD_CONTENT" />
		<result property="boardFiles" column="BOARD_FILE1" />
		<result property="boardDt" column="BOARD_DT" />
		<result property="boardCNT" column="READ_CNT" />
		<result property="boardAuth" column="BOARD_AUTH" />
		<result property="memberId" column="MEMBER_ID" />
	</resultMap>

	<select id="getAddressByAddrId" resultType="Addr">
		SELECT *
		FROM ADDR
		WHERE ADDR_ID = #{addrId}
	</select>

	<!-- 주소 등록 -->
	<insert id="insertAddress" parameterType="Addr">
		INSERT INTO ADDR
		(ADDR_ID, DELIVERY_NAME, RECEIVER_NAME, ADDR, ADDR_TEL,
		ADDR_MESSAGE,
		MEMBER_ID)
		VALUES (addr_seq.nextval, #{deliveryName}, #{receiverName},
		#{addr}, #{addrTel},
		#{addrMessage}, #{memberId})
	</insert>

	<!-- 주소 업데이트 -->
	<update id="updateAddress" parameterType="Addr">
		UPDATE ADDR
		SET
		DELIVERY_NAME = #{deliveryName}, RECEIVER_NAME = #{receiverName}, ADDR
		= #{addr}, ADDR_TEL = #{addrTel}
		WHERE ADDR_ID = #{addrId}
	</update>
	<!-- 주소 목록 가져오기 -->
	<select id="selectAddrList" resultMap="addr_rm">
		SELECT *
		FROM ADDR
		WHERE
		MEMBER_ID = #{memberId}
	</select>

	<delete id="deleteAddr" parameterType="int">
		DELETE FROM ADDR
		WHERE
		ADDR_ID = #{addrId}
	</delete>


	<!-- 프로필 이미지 수정 -->
	<update id="updateProfile">
		UPDATE MEMBER SET
		PROFILE_IMG = #{profileImage}
		WHERE
		MEMBER_ID = #{memberId}
	</update>

	<!-- 관심상품 가져오기! -->
	<select id="myPageWishList" resultMap="product_rm">
		SELECT *
		FROM Product
		WHERE
		Product_Id IN (SELECT
		Product_Id FROM WishList WHERE member_Id =
		#{memberId})
	</select>

	<insert id="cartInsert" parameterType="int">
		INSERT INTO CART
		(CART_ID,CART_OPTION,
		QUANTITY, TOTAL_PRICE, PRODUCT_ID, MEMBER_ID)
		VALUES (cart_seq.nextval, '${selectedOption}', 1, ${productPrice},
		${productId}, ${memberId})
	</insert>

	<select id="getCartList" resultType="Cart">
		SELECT *
		FROM Cart
		WHERE
		MEMBER_ID = #{memberId} AND PRODUCT_ID= #{productId} AND
		CART_OPTION=#{selectedOption}
	</select>

	<update id="cartUpdate">
		UPDATE CART
		SET QUANTITY = ${cartNum}
		WHERE MEMBER_ID =
		#{memberId} AND PRODUCT_ID= #{productId}
	</update>

	<delete id="deleteWishlist" parameterType="int">
		DELETE FROM WISHLIST
		WHERE MEMBER_ID = #{memberId} AND PRODUCT_ID= #{productId}
	</delete>

	<!-- 회원탈퇴 -->
	<update id="secession">
		UPDATE MEMBER SET
		SECESSION_FL = 'Y'
		WHERE
		MEMBER_ID =
		#{memberId}
	</update>

	<delete id="deleteSelectedWishlist" parameterType="int">
		DELETE FROM WISHLIST
		WHERE PRODUCT_ID IN
		<foreach collection="productIds" item="productId" open="("
			separator="," close=")">
			#{productId}
		</foreach>
		AND MEMBER_ID = #{memberId}
	</delete>

	<select id="nicknameDupCheck" resultType="_int">
		SELECT COUNT(*) FROM
		MEMBER
		WHERE MEMBER_NICK = #{memberNick}
		AND SECESSION_FL = 'N'
	</select>

	<update id="updateInfo">
		UPDATE MEMBER SET
		MEMBER_NICK = #{memberNickname},
		MEMBER_PW =
		#{memberPw},
		MEMBER_ADDR = #{memberAddr},
		MEMBER_SNS = #{memberSns},
		EMAIL_OPTIN =
		<choose>
			<when test="emailOptIn == 1">
				'Y'
			</when>
			<when test="emailOptIn == 0">
				'N'
			</when>
			<otherwise>
				EMAIL_OPTIN
			</otherwise>
		</choose>
		WHERE MEMBER_ID = ${memberId}
	</update>

	<!-- 내 게시글 가져오기! -->
	<select id="selectBoardList" resultMap="board_rm">
		SELECT *
		FROM BOARD
		WHERE MEMBER_ID = ${memberId}
	</select>
	
	<delete id="deleteSelectedBoard" parameterType="int">
		DELETE FROM BOARD
		WHERE BOARD_ID IN
		<foreach collection="boardIds" item="boardId" open="("
			separator="," close=")">
			#{boardId}
		</foreach>
		AND MEMBER_ID = #{memberId}
	</delete>
	
</mapper>
