<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="productMapper">
 	
 
 	<!-- 제품 조회 -->
	<resultMap type="product" id="product_rm">
	
		<id property="productId" column="PRODUCT_ID"/>
		<result property="productName" 		column="PRODUCT_NAME"/>
		<result property="productType" 		column="PRODUCT_TYPE"/>
		<result property="productArtist"	 	column="PRODUCT_ARTIST"/>
		<result property="productPrice" 		column="PRODUCT_PRICE"/>
		<result property="productOption1" 		column="PRODUCT_OPTION1"/>
		<result property="productOption2" 		column="PRODUCT_OPTION2"/>
		<result property="productRDate" 		column="PRODUCT_RDATE"/>
		<result property="productImage" 		column="PRODUCT_IMAGE"/> 
		<result property="productContent" 			column="PRODUCT_CONTENT"/>
		<result property="productCategory" 			column="PRODUCT_CATEGORY"/>
		<result property="sales" 			column="SALES"/>
		<result property="adminTypeCD" 			column="ADMIN_TYPE_CD"/>
		
		 
		</resultMap>
  
 	 <resultMap type="detail" id="detail_rm">
			<id property="productId" column="PRODUCT_ID"/>
		<result property="productName" 		column="PRODUCT_NAME"/>
		<result property="productType" 		column="PRODUCT_TYPE"/>
		<result property="productArtist"	 	column="PRODUCT_ARTIST"/>
		<result property="productPrice" 		column="PRODUCT_PRICE"/>
		<result property="productOption1" 		column="PRODUCT_OPTION1" />
		<result property="productOption2" 	column="PRODUCT_OPTION2" />
		<result property="productRDate" 		column="PRODUCT_RDATE"/>
		<result property="productUDate" 		column="PRODUCT_UDATE"/>
 		<result property="productImage" column="PRODUCT_IMAGE" /> 
		<result property="productContent" 			column="PRODUCT_CONTENT"/>
		<result property="productCategory" 			column="PRODUCT_CATEGORY"/>
		
		<collection property="imageList" column="product_Id" 
			javaType="java.util.ArrayList" ofType="productImage" select="selectImageList"/>
		 
		</resultMap>
	
 	 	<resultMap type="productImage" id="productImage_rm">
		<id property="imageNo" column="IMG_NO" />
		<result property="imageReName" column="IMAGE_RENAME" />
		<result property="imageOriginal" column="IMAGE_ORIGINAL" />
		<result property="imageLevel" column="IMAGE_LEVEL" />
		<result property="productId" column="PRODUCT_ID" />
		</resultMap>
	
	<!-- 위시리스트 -->
		<resultMap type="wishList" id="wishList_rm">
		  <id property="wishListId" column="WISHLIST_ID" />
		  <result property="productId" column="PRODUCT_ID" />
		  <result property="memberId" column="MEMBER_ID" />
		</resultMap>

 	 
 	 
  
  	<!-- 관리자 상품 조회 -->
  	<select id="selectProductList" resultMap="product_rm">
		SELECT
		  PRODUCT_ID,
		  PRODUCT_TYPE,
		  PRODUCT_NAME,
		  PRODUCT_ARTIST,
		  PRODUCT_PRICE,
		  PRODUCT_RDATE,
		  (SELECT IMAGE_RENAME
		   FROM PRODUCT_IMAGE
		   WHERE PRODUCT.PRODUCT_ID = PRODUCT_IMAGE.PRODUCT_ID
		     AND IMAGE_LEVEL = 0) AS PRODUCT_IMAGE
		FROM
		  PRODUCT
		ORDER BY
	  PRODUCT_ID DESC

	</select>
 
   
	<!-- 관리자 상품 검색 조회 -->
  	<select id="searchProductList" resultMap="product_rm">
			SELECT
		  PRODUCT_ID,
		  PRODUCT_TYPE,
		  PRODUCT_NAME,
		  PRODUCT_ARTIST,
		  PRODUCT_PRICE,
		  PRODUCT_RDATE,
		  (SELECT IMAGE_RENAME
		   FROM PRODUCT_IMAGE
		   WHERE PRODUCT.PRODUCT_ID = PRODUCT_IMAGE.PRODUCT_ID
		     AND IMAGE_LEVEL = 0) AS PRODUCT_IMAGE
		 FROM PRODUCT
	 
		 WHERE
		 
		<if test='query != null and query != ""'>
			 
			<choose>
			 <when test='key == "t"'> 
                PRODUCT_NAME LIKE '%' || #{query} || '%'
            </when>
            
            <when test='key == "c"'>
                PRODUCT_TYPE LIKE '%' || #{query} || '%'
            </when>
            
            <when test='key == "w"'>
                 PRODUCT_ARTIST LIKE '%' || #{query} || '%'
            </when>
			</choose>			
		</if>
		
		 
		
	</select>	
  
   
  
  	<!-- 관리자 상품 조회 페이지네이션 -->
  	<select id="getListCount" resultType="_int">
		SELECT COUNT(*) FROM PRODUCT  
	</select>
  	
  
  
    <!-- 관리자 상품 검색 조회 페이지네이션 -->
   	<select id="searchListCount" resultType="_int">
		SELECT COUNT(*) 
		FROM PRODUCT 
		
		 WHERE
		<!-- 검색어가 있을 경우 -->
		<if test='query != null and query != ""'>
			 
			<choose>
			 <when test='key == "t"'> 
                PRODUCT_NAME LIKE '%' || #{query} || '%'
            </when>
            
            <when test='key == "c"'>
                PRODUCT_TYPE LIKE '%' || #{query} || '%'
            </when>
            
            <when test='key == "w"'>
                 PRODUCT_ARTIST LIKE '%' || #{query} || '%'
            </when>
			</choose>			
		</if>
		 
	</select>	
   
	  <!-- 관리자 상품 등록 -->
	<insert id="insertProduct" parameterType="product" useGeneratedKeys="true">
	  <selectKey keyProperty="productId" resultType="int" order="BEFORE">
	    SELECT SEQ_PRODUCT_NO.NEXTVAL FROM DUAL
	  </selectKey>
	  INSERT INTO PRODUCT (
	    PRODUCT_ID,
	    PRODUCT_IMAGE,
	    PRODUCT_NAME,
	    PRODUCT_TYPE,
	    PRODUCT_ARTIST,
	    PRODUCT_PRICE,
	    PRODUCT_OPTION1,
	    PRODUCT_OPTION2,
	    PRODUCT_RDATE,
	    PRODUCT_CONTENT,
	    PRODUCT_CATEGORY
	  )
	  VALUES (
	    #{productId},
	    (SELECT IMAGE_RENAME FROM PRODUCT_IMAGE WHERE PRODUCT_ID = #{productId}),
	    #{productName},
	    #{productType},
	    #{productArtist},
	    ${productPrice},
	    #{productOption1, typeHandler=fp.art.stroke.common.typehandler.ListStringTypeHandler},
	    #{productOption2, typeHandler=fp.art.stroke.common.typehandler.ListStringTypeHandler},
	    SYSDATE,
	    #{productContent},
	    #{productCategory}
	  )
	</insert>



   <!--   관리자 상품 등록 이미지 1개 삽입  -->
	<insert id="insertProductImage" parameterType="productImage" useGeneratedKeys="true">
	  <selectKey keyProperty="imageNo" resultType="int" order="BEFORE">
	    SELECT SEQ_PRODUCT_IMG_NO.NEXTVAL FROM DUAL
	  </selectKey>
	  INSERT INTO PRODUCT_IMAGE (
	    IMG_NO,
	    PRODUCT_ID,
	    IMAGE_RENAME
	  )
	  VALUES (
	    #{imageId},
	    #{productId},
	    #{imageRename}
	  )
	</insert>

  
  
  <!-- 게시글 상세 조회 -->
	<select id="selectProductDetail" resultMap="detail_rm">
		SELECT PRODUCT_ID, PRODUCT_NAME, PRODUCT_CONTENT,
		TO_CHAR(PRODUCT_RDATE, 'YYYY"년" MM"월" DD"일" HH24:MI:SS') PRODUCT_RDATE,
		TO_CHAR(PRODUCT_UDATE, 'YYYY"년" MM"월" DD"일" HH24:MI:SS') PRODUCT_UDATE,
		PRODUCT_ARTIST, PRODUCT_IMAGE, PRODUCT_PRICE, PRODUCT_TYPE, PRODUCT_CATEGORY, PRODUCT_OPTION1, PRODUCT_OPTION2
	 
		FROM PRODUCT_DETAIL
 
		WHERE PRODUCT_ID = ${productId}
			</select>




 	<insert id="insertProductImageList" parameterType="list">
		INSERT INTO PRODUCT_IMAGE 
		SELECT SEQ_IMG_NO.NEXTVAL IMG_NO,  A.* FROM(
		
			<foreach collection="list"  item="img" separator="UNION ALL" >
			    SELECT  #{img.imageReName}     IMAGE_RENAME, 
			    		#{img.imageOriginal}   IMAGE_ORIGINAL,
			        	#{img.imageLevel}      IMAGE_LEVEL, 
			        	#{img.productId}         PRODUCT_ID
			    FROM DUAL
			</foreach>
		) A   
	</insert>
 




	<select id="selectDBList" resultType="string">
		SELECT IMAGE_RENAME FROM PRODUCT_IMAGE
	</select>



	<select id = "getWriterProductList" resultMap="product_rm">
		SELECT PRODUCT_NAME, PRODUCT_IMAGE, PRODUCT_PRICE
		FROM PRODUCT
		WHERE PRODUCT_ARTIST = (SELECT MEMBER_NICK FROM MEMBER WHERE MEMBER_ID = #{memberId})
	</select>


	<select id="productImageOne" resultMap="productImage_rm">
		SELECT PRODUCT_ID, PRODUCT_IMAGE FROM PRODUCT WHERE PRODUCT_ID = ${productId}  ORDER BY PRODUCT_ID DESC
	</select>
 

 
    <!-- //////////////////////////상품 페이지///////////////////////////////////////////// -->
    
     
      <!-- 전체 상품 수 조회 -->
	<select id="getListCountP" resultType="_int">
		SELECT COUNT(*) FROM PRODUCT

	</select>
      
      <!-- 상품페이지 상품 조회 -->
  	<select id="loadProductList" resultMap="product_rm">
		SELECT * FROM  PRODUCT
		ORDER BY PRODUCT_ID
	</select>
	
      <!-- 상품 상세페이지 상품 조회 -->
  	<select id="loadProductDetail" resultMap="product_rm">
		SELECT * FROM  PRODUCT
		WHERE PRODUCT_ID = #{productId}	
	</select>
	
	
	<!-- 위시리스트 추가하기 -->
	<insert id="addWishList" parameterType="wishList">
		  INSERT INTO wishList (WISHLIST_ID, PRODUCT_ID, MEMBER_ID)
  		  VALUES (SEQ_WISHLIST_NO.nextval, #{productId}, #{memberId})
	</insert>
	
	<!-- 위시리스트 중복검사 -->
	<select id="wishListCheck" parameterType="_int" resultType="_int">
	  		SELECT COUNT(*) FROM WISHLIST
			WHERE PRODUCT_ID = #{productId}
	</select>
	
	<!-- 위시리스트 상품 번호 가져오기 -->
	
	<select id="loadWishList" parameterType="_int" resultType="_int">
			SELECT PRODUCT_ID FROM WISHLIST
			WHERE MEMBER_ID = #{memberId}
	
	</select>
	
	<!-- 위시리스트 삭제 -->
	
	<delete id="wishListDelete" parameterType="_int" >
			DELETE FROM WISHLIST
			WHERE PRODUCT_ID = #{productId}
	
	
	</delete>
	
	
	
	
</mapper>













 