 
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/src/main/webapp/resources/css/admin-common-style.css">
<link rel="stylesheet" href="/src/main/webapp/resources/css/admin-side-style.css">
<link rel="stylesheet" href="/src/main/webapp/resources/css/admin-style.css">
</head>
<body>
    <h1 id="product-h1">상품 등록</h1>
    <div class="admin-product-main-form">
   <form action="#" method="post" name="admin-product-form">
   <table class="admin-product-form-table">
    <tr>
        <th>상품코드</th>
        <td><span></span></td>
    </tr>
    <tr>
        <th>썸네일</th>
        <td><input type="file"></td>
    </tr>
    <tr>
        <th>상품명</th>
        <td><input type="text" autofocus name="admin-product-form-input"></td>
    </tr>
    <tr>
        <th>가격</th>
        <td><input type="text" name="admin-product-form-input"></td>
    </tr>
    <tr>
        <th>기본옵션</th>
        <td><select name="" id="">
            <option value="">그림</option>
            <option value="">홈데코</option>
            <option value="">핸드폰케이스</option>
            <option value="">냐하</option>
        
        </select>
    </td>
    </tr>
    <tr>
        <th>추가옵션</th>
        <td><select name="" id="">
            <option value="">추상화</option>
            <option value="">일러스트</option>
            <option value="">드로잉</option>
            <option value="">동물</option>
            
        </select>
        <td></td>
    </tr>
    <tr>
        <th>상품명</th>
        <td><textarea name="" id="" cols="80" rows="10"></textarea></td>
    </tr>
    <tr> 
        <th></th>
    <td name="admin-product-form-td"><button name="admin-bottom-btn">등록</button>

   <button name="admin-bottom-btn">취소</button>  </td>
    </tr>
    </table>

    </form>
    </div>
</body>
</html>