<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/main/webapp/resources/css/admin-side-style.css">
</head>
<body>
    
<div class="admin-left-side">
    
   
    <ul class="admin-list-group">
        <li><a href="#" class="admin-management">상품 관리</a>
             
        </li>
        <li><a href="#" class="admin-management">회원 관리</a>
        
        </li>
        <li><a href="#" class="admin-management">주문 관리</a>
           
        </li>
        <li><a href="#" class="admin-management">재고 관리</a>
           
        </li>
        <li><a href="#" class="admin-management">게시판 관리</a>
           
        </li>
    </ul>

</div>


    <script src="/src/main/webapp/resources/js/admin/admin-main.js"></script>
</body>
</html>
 
