.signUp-main-style{
  /* 필수 */
  max-width: 1920px;
  min-width: 1080px;
  min-height: 1300px;
  padding-left: 5% !important;
  padding-right: 5% !important;
  margin: auto;

  /* 지우기(참고용) */
  border: none;
  display:flex;
  justify-content: center;
  align-items: center;

}




span{
  margin-bottom:30px;
}

.signUp-contents-wrap {

   display:flex;
  justify-content: center;
  align-items: center; 
  background-color: blanchedalmond;
  width:600px;
  
  

}

.test2{
  
  display: flex;
  width:480px;
}

input[type="text"] {
  width: 300px;
  height: 44px;
}

.sns_signUp_area {
  display:flex;
  justify-content:center; 
  border-top: 3px solid #dee2e6;
  border-bottom:1px solid #dee2e6;
  margin-bottom:30px;
  padding:20px 0;
}



.round {
  border:none;
  background-color: transparent;
}


h1 {
  text-align: center;
}
ul {
  display:flex;
  
}

h3 {
  font-weight: bold;
}
ul>li{list-style: none}

a{text-decoration: none;}
.clearfix::after{content: "";display: block;clear: both;}




#signUpBtn {
  width: 420px;
 
  border-radius: 5px;
  background-color: black;
  color:white;
}

.signUpBtn_area {
  margin-top:30px;
  display:flex;
  justify-content: center;
  padding:30px;
}

button {
background-color: black;
color:white;
border-radius:5px;
padding:0 10px  0 10px 


}
