


.sns_signUp-main-style{
    /* 필수 */
    max-width: 1920px;
    min-width: 1080px;
    min-height:900px;
    padding-left: 5% !important;
    padding-right: 5% !important;
    margin: auto;
    margin-top: 50px;
    

    /* 지우기(참고용) */
  
    display:flex;
    justify-content: center;
   
    
}

.sns_signUp-contents-wrap{
    /* 지우기(참고용) */
    /* background-color: antiquewhite; */
   
    width:800px;
    height:400px;
    
}

.memberTel {
    width:400px;
    height:40px;
}
.information {
    display:flex;
    justify-content: center;
}
/*약관 스크롤*/
.scroll {
   overflow:scroll;
   width:700px;
   height:200px;
   border:1px solid #d7d5d5;
   background-color: white;
 
}

.scrollOuter {
    background-color:#fbfafa;
    padding:10px;
    
   
}

.btn_area {
	 display:flex;
    justify-content: center;
    margin-top:20px;
}

#snsSignUp_Btn {
    width: 420px;
	height: 56px;
	background-color: black;
	color: white;
	cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    
}


form {
   
    display:flex;
    justify-content: center;
    align-items: center;
}

/*약관 리스트스타일 지정*/
.checkList >li {
    list-style:none;
}

/*설명*/
.ec-solution-box{
    text-align:center;
   
    
}

/*휴대폰 테이블*/
table {
    border:none;
}

.information{
    border:10px solid #fbfafa;
}
.tableOuter {
    display:flex;
    justify-content: center;
    align-items: center;
   
    margin:20px 0;
}

<<<<<<< HEAD
.sns_signUp-contents-wrap {


    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}





#phoneIcon {
    width:30px;
    margin: 0 10px;
}

h4 {
    margin-top:10px;
}

.kakao {
    border:10px solid #F7E600;
    padding:10px 0;
}

.naver {
    border:10px solid #2DB400;
    padding:10px 0;
}

.snsSignUp_area {
    display:flex;
    justify-content: center;
    
}