
/*약관 스크롤*/
.scroll {
   overflow:scroll;
   width:700px;
   height:200px;
   border:1px solid #d7d5d5;
   background-color: white;
 
}

.scrollOuter {
    background-color:#fbfafa;
    padding:10px;
    
   
}

#snsSignUp_Btn {
    width: 420px;
	height: 44px;
	border-radius: 5px;
	background-color: black;
	color: white;
	cursor: pointer;
}


form {
   
    display:flex;
    justify-content: center;
    align-items: center;
}

/*약관 리스트스타일 지정*/
.checkList >li {
    list-style:none;
}

/*설명*/
.ec-solution-box {
    text-align:center;
    border:10px solid #fbfafa;
    
}

/*휴대폰 테이블*/
table {
    border:none;
}

.information{
    border:10px solid #fbfafa;
}
.tableOuter {
    display:flex;
    justify-content: center;
    align-items: center;
    padding:10px;
}

.sns_signUp-contents-wrap {


    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}




