<body>
    <header class="header-style">
        
    </header>

    <main class="main-style">
        <!-- 여기부터 추가 -->
        <section class="contents-wrap">
            <div class = "boardReport_title">
                <h3>신고하기</h3>
            </div>
        </section>

        <section class="contents-wrap">
            <div class = "boardReport_content">
                <form>
                    <table>
                        <tr>
                            <td>신고대상</td>
                            <td><!--jstl로 넣을 예정.--></td>
                        </tr>
                        <tr>
                            <td>신고 게시글 / 댓글</td>
                            <td><!--여기에는 jstl로 넣음.--></td>
                        </tr>
                    </table>
                    <div><h3>신고 사유</h3></div>
                    <hr>
                    <textarea>

                    </textarea>
                    <input type = "button" value = "신고하기">
                </form>
            </div>
        </section>


    </main>

    <footer class="footer-style">
        
    </footer>
    
</body>