.main-style {
	/* 필수 */
	max-width: 1920px;
	min-width: 1080px;
	padding-left: 5% !important;
	padding-right: 5% !important;
	margin: auto;
}

.mypagemain {
	display: flex;
	margin-bottom: 20px;
}

.mypagemainprofile {
	flex: 10%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	display: inline-block;
	margin-left: 20px;
}

.mypagemainprofile img {
	margin: auto;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: relative;
	z-index: 1;
}

.mypagemainprofile i {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	opacity: 0;
	transition: opacity 0.3s ease;
}

.mypagemainprofile:hover i {
	opacity: 1;
}

.mypagemain2 {
	flex: 90%;
}

.mypagemainlist {
	display: flex;
	justify-content: flex-end;
	margin: 40px 10px 5px 10px;
}

.myPageInfo-wrap {
	display: flex;
	justify-content: space-between;
	width: 85%;
	margin-left: 10px;
	flex-direction: column;
}

.myPageInfo-wrap div {
	margin-top: 5px;
}

.myPageFollowing {
	width: 80px;
	text-align: center;
	font-weight: bold;
	margin-left: 30px;
	padding: 3px;
	font-size: 12px;
	color: white;
	border: 1px solid lightgray;
	background-color: lightgray;
}

.myPageFollowing:hover {
	background-color: gray;
	cursor: pointer;
}

.myPageInfo-wrap ul {
	display: flex;
	flex-direction: row;
	padding: 0;
	margin: 0;
}

.myPageInfo-wrap li {
	list-style-type: none;
	margin-top: 10px;
	margin-bottom: 15px;
	margin-right: 15px;
	color: rgb(34, 34, 34);
	font-size: 12px;
	font-weight: bold;
}

.myPageInfo-wrap li a {
	text-decoration: none;
	font-weight: bold;
	color: rgb(34, 34, 34);
}

h4 {
	margin-bottom: 5px; /* Adjust the margin as needed */
	margin-top: 20px;
	font-weight: bold;
	color: RGB(34, 34, 34);
}

.myPageMainName {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.myPage-btn {
	flex: 1;
	color: rgb(34, 34, 34);
	border: 1px solid lightgrey;
	max-width: 70px;
	max-height: 40px;
	display: flex;
	justify-content: center;
	background-color: transparent;
	margin-bottom: 5px; /* Adjust the margin as needed */
	margin-top: 20px;
}

.myPage-btn a {
	color: rgb(34, 34, 34);
	text-decoration: none;
	font-size: 13px;
}

.myPage-btn:hover {
	border: 2px solid rgb(34, 34, 34);
}

.myPage-btn a:hover {
	color: rgb(34, 34, 34);
	font-weight: 600;
}

.mypagemainptage {
	display: flex;
	height: 100px;
	border: 1px solid lightgray;
	padding: 5px;
}

.myPageBtn-wrap {
	width: 15%;
}

.myPageMain-btn {
	color: rgb(34, 34, 34);
	border: 1px solid lightgrey;
	max-width: 150px;
	max-height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	margin: 7px;
}

.myPageMain-btn a {
	color: rgb(34, 34, 34);
	text-decoration: none;
	font-size: 13px;
}

.myPageMain-btn:hover {
	border: 2px solid rgb(34, 34, 34);
}

.myPageMain-btn a:hover {
	color: rgb(34, 34, 34);
	font-weight: 600;
}

table {
	width: 100%;
}

table td {
	border: none;
	border-bottom: 1px solid lightgrey;
	outline: none;
}

table th:nth-child(1), table td:nth-child(1) {
	width: 10%;
}

table th:nth-child(2), table td:nth-child(2) {
	width: 20%;
}

table th:nth-child(3), table td:nth-child(3) {
	width: 40%;
}

table th:nth-child(4), table td:nth-child(4) {
	width: 10%;
}

table th:nth-child(5), table td:nth-child(5) {
	width: 10%;
}

table th:nth-child(6), table td:nth-child(6) {
	width: 10%;
}

table th {
	font-weight: bold;
	background-color: rgba(245, 245, 245, 0.611);
}

.myPageContent thead {
	position: sticky;
	top: 0;
	background-color: white;
	z-index: 1;
}

.myPageContent td {
	text-align: center;
}

.myPageContent {
	border: 1px solid lightgray;
	height: 200px;
	overflow: auto;
	margin-bottom: 40px;
}

.myPageHello-wrap {
	display: flex;
}

.popup {
	display: none;
	position: fixed;
	z-index: 999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 75%;
}

.myPage-popupTag {
	display: flex;
	justify-content: space-between;
}

.myPageFollowingList {
	height: 500px;
	width: 100%;
	border: 1px solid lightgray;
	display: flex;
	flex-wrap: wrap;
	overflow: auto;
}

.myPageFollowingList ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	list-style-type: none;
}

.myPageFollowingList li div span {
	display: inline-block;
	width: 100%;
	text-align: center;
}

.myPageFollowingList li div {
	margin: 20px;
}

.myPageFollowingList li div img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.close {
	color: #aaa;
	float: right;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
	margin-bottom: 20px;
}

.close:hover, .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.myPageProfileImage-area {
    height: 300px;
    width: 100%;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding-top: 20px;
}

.myPageProfileImage-area img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.myPageProfile-btn-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-top: 20px;
}

.myPageProfile-label {
    align-items: center;
    gap: 10px;
}
.input-Profile{
	margin-top : 20px;
}
.myPageProfile-btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.myPageProfile-btn button{
	margin-left : 20px;
}
.popup2 {
	display: none;
	position: fixed;
	z-index: 999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
}

.popup-content2 {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 40%;
	height: 65%;
}


.profileImg-btn {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.profileImg-btn:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.profileImg-btn:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.profileImg-btn:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.profileImg-btn:focus {
  outline: 1px transparent;
}

.profileImg-btn:before {
  display: none;
}

.profileImg-btn:-webkit-details-marker {
  display: none;
}